@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body { font-family: 'Droid Serif'; }
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}
.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }

.remark-slide-content h1 {
  margin: 0 0 0.3em 0;
}

.remark-slide-content h2 {
  margin: 0;
}

.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}

.col-one-third {
  width: 34%;
}

.col-half {
  width: 50%;
}

.col-two-third {
  width: 66%;
}

.col-one-third,
.col-half,
.col-two-third {
  float: left;
}
